<div id="navigation" style="background-color:white;border-radius: 8px 8px 6px 6px;width:95%;height:24px;margin:5% 0px 0px 2.5%;padding:6px;">
  <div class="list-menu" style="float:left;">
    <ul>
      <li>
        <a href="{{ path('index') }}">Home</a>
      </li>
      <li>
        <a>Analyse Results</a>
        <ul>
          <li><a href="{{ path('view_diffs') }}">View Diffs</a></li>
          <li><a href="{{ path('overview') }}">My Code Quality Overview</a></li>
          <li><a href="{{ path('overview') }}">Global Code Quality Overview</a></li>
        </ul>
      </li>
      <li>
        <a>Management</a>
        <ul>
          <li><a href="{{ path('company_profile') }}">Manage Company Profile</a></li>
          <li><a href="{{ path('tool_management') }}">Manage Code Quality Tools</a></li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </div>
  <div style="float:right;">
    <span>User:</span>
    <input type="text" name="username" style="width:100px;"/>
    <span>Pass:</span>
    <input type="password" name="password" style="width:100px;"/>
    <input type="button" value="Log in"/>
  </div>
</div>